<!-- Sticky Top Navbar -->
<nav class="navbar navbar-light bg-transparent">
  <div class="nav-container d-flex justify-content-between align-items-center">
    <div class="nav-right d-flex align-items-center">
      <a href="index.html" class="nav-link">Amelie Scheil</a>
    </div>
    <div class="nav-right d-flex align-items-center">
      <a href="about.html" class="nav-link">About</a>
      <a href="portfolio.html" class="nav-link">Portfolio</a>
      <a href="assets/AScheilResume2025.pdf" target="_blank" class="nav-link">Resume</a>
    </div>
  </div>
</nav>

<script src="load-navbar.js"></script>




