body {
    background-color: white;
    color: #33351C;
}

.about-me {
    text-align: left;
    padding-right: 20rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

@media (max-width: 768px) {
  .about-me {
    padding-right: 1rem;
      padding-left: 1rem;

  }
}

.list-item {
    text-align: left;
    margin-bottom: 3rem;
}

.list-item h1 {
    font-weight: 400;
}

.list-item h2 {
    font-weight: 300;
}

.hover-text {
    color: #23ADCC;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    position: relative;
}

.hover-text:hover {
    color: blue;
}

.hover-image {
    position: absolute;
    display: none;
    max-height: 300px;
    width: auto;
    border-radius: 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    pointer-events: none;
}