body {
    background-color: white;
    color: #33351C;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.container {
    height: 100vh;
  padding: 6rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: start;
    flex-direction: column;
      /*transform: translate(0%, -5%);*/
}

@media (max-width: 768px) {
    body {
        overflow: visible;
    }

    .container {
        padding: 1rem 1.5rem 2rem;
    }

  .about-me {
    padding-right: 1rem;
      padding-left: 1rem;

  }
}

.list-item {
    text-align: left;
    margin-bottom: 3rem;
}

.list-item h1 {
    font-weight: 400;
    margin-bottom: 1rem;
}

.list-item h2 {
    font-weight: 300;
    font-size: 20px;
}

.hover-text {
    color: #23ADCC;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    position: relative;
}

.hover-text:hover {
    color: blue;
}

.hover-image {
    position: absolute;
    display: none;
    max-height: 300px;
    width: auto;
    border-radius: 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    pointer-events: none;
}