html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
    background-color: #F8F2F2;
  color: #33351C;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.introduction {
  text-align: center;
}

.mobile-break {
  display: none;
}

@media (max-width: 768px) {
  .mobile-break {
    display: inline;
  }

  .mobile-break::after {
    content: "\A"; /* newline character */
    white-space: pre;
  }
}

.site-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 0.2rem 1rem;
  font-size: 14px;
  color: #777;
  font-family: "DM Sans", sans-serif;
}

.site-footer .signature {
  font-weight: 500;
  color: #33351C;
}
