html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: white;
}

.container {
  height: 100vh;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(0%, -7%);
  gap: 3rem;
}

.introduction {
  font-size: 32px !important;
  max-width: 600px;
  text-align: center;
}

.image-pile {
  position: relative;
  width: 400px;   /* Or auto-size with max-width if needed */
  height: 400px;
  border-radius: 12px;
  overflow: visible;
  padding-bottom: 3rem;
}

.pile-img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;  /* preserve original aspect ratio */
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: transform 0.4s ease, opacity 0.4s ease;
  /*background-color: #fff;  !* or a subtle gray *!*/
  /*box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);*/
}

.pile-img:nth-child(1) { transform: translate(-50%, -50%) rotate(-2deg); }
.pile-img:nth-child(2) { transform: translate(-50%, -50%) rotate(1deg); }
.pile-img:nth-child(3) { transform: translate(-50%, -50%) rotate(-1.5deg); }
.pile-img:nth-child(4) { transform: translate(-50%, -50%) rotate(2deg); }
.pile-img:nth-child(5) { transform: translate(-50%, -50%) rotate(0deg); }

.pile-img.animate-out {
  transform: translate(-50%, -50%) rotate(-15deg) scale(0.9);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

.site-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: lightgrey;
  z-index: 1001; /* higher than container content */
  background-color: white; /* or semi-transparent for design */
  text-align: center;
  padding: 1rem;
}