html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

@media (max-width: 768px) {
  html, body {
    overflow: auto;
  }
}

.main-container {
    display: flex;
    padding: 1rem 3rem;
  /*height: calc(100vh - var(--navbar-height));*/
  overflow: hidden; /* remove for mobile */
}

@media (max-width: 768px) {
  .main-container {
    height: auto;
    overflow: visible;
  }
}

.left-column {
  width: 35%;
    padding: 1.5rem 0;
    background-color: transparent;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Change from center to flex-start */
  text-align: left;
  justify-content: flex-start;
  gap: 1rem;
}

.left-column img {
  max-width: 100%;
  height: auto;
  align-self: flex-start;
}

.right-column {
    background-color: white;
  flex: 1;
  overflow-y: scroll;
    height: 100vh;
  padding: 1.5rem 0 5rem 3rem;
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column; /* Stack vertically */
    height: auto;           /* Remove full height constraint */
    overflow: visible;      /* Allow full scroll */
  }

  .left-column {
    width: 100%;
    height: auto;
      /*min-height: 100vh;*/
    padding: 2rem 1rem;
    align-items: flex-start;
  }

  .right-column {
    flex: none;
    width: 100%;
    height: auto;
    overflow: visible;
    padding: 2rem 1rem;
  }
}


.projects-container {
  max-width: 1000px;
  margin: 0 auto;
}

.project {
    width: 100%;
    margin-bottom: 50px;
}

.project img {
    width: 100%;
}

.project-section {
    width: 100%;
    margin-bottom: 0.5rem;
}

.right-column .project-section {
  margin-bottom: 3rem;
}

.project-details {
    margin-bottom: 20px;
}

.project-details .row>* {
    margin: 0;
}

.detail {
    width: auto;
    text-align: left;
    color: #33351C;
    padding-bottom: 10px;
}

.asset-grid {
  display: grid;
  gap: 1.5rem;
  margin-top: 1rem;
}

.desktop-assets {
  grid-template-columns: repeat(2, 1fr);
}

.mobile-assets {
  grid-template-columns: repeat(4, 1fr); /* 🔥 4 per row */
  gap: 1rem;
}

.asset-grid img {
  width: 100%;
  height: auto;
  /*border-radius: 6px;*/
  /*box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);*/
  transition: transform 0.3s ease;
}

.asset-grid img:hover {
  transform: scale(1.02);
  z-index: 1;
}
